<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD OP</title>
    <!-- Bootstrap Link  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        body {
            background-color: rgba(0, 0, 0, 0.486);
        }

        .Main_table {
            border-radius: 50px;
        }
    </style>
</head>

<body>

    <center>

        <div class=" Main_table container pt-0 p-5 bg-dark  w-75 ">
            <h1 class="text-warning fw-bold">Add Student</h1>

            <form>
                <div class="row mb-1 p-5 pb-0 text-start">
                    <div class="col">
                        <div class="form-outline">
                            <input type="text" id="fullName" class="form-control" />
                            <label class="form-label text-warning" for="form3Example1">First name</label>
                        </div>
                    </div>
                    <div class="col">


                        <div class="form-outline">
                            <input type="text" id="phone" class="form-control" />
                            <label class="form-label text-warning" for="form3Example1">Phone</label>
                        </div>
                    </div>
                </div>
                <div class="row mb-1 p-5 pb-1 pt-0 text-start">
                    <div class="col">
                        <div class="form-outline ">
                            <input type="text" id="email" class="form-control" />
                            <label class="form-label text-warning" for="form3Example2">Email</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-outline ">
                            <input type="text" id="password" class="form-control" />
                            <label class="form-label text-warning" for="form3Example2">Password</label>
                        </div>
                    </div>
                </div>



                <button type="button" id="submit" class="btn btn-outline-warning btn-block m-0">Submit</button>


            </form>
        </div>
    </center>









    <div class="container p-5 bg-dark mt-3 Main_table w-75">
        <h1 class="text-center text-warning mt-0 mb-5 display-6 text-wrap fw-bold">Student Registration Data</h1>

        <table class="table  bg-warning" id="tbl">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Action</th>
            </tr>

        </table>
    </div>

    <script>
        //-----Add Data----------------------------\\

        const button = document.getElementById('submit')

        const addData = async () => {
            try {
                const data = {
                    fullName: document.getElementById("fullName").value,
                    phone: document.getElementById("phone").value,
                    email: document.getElementById("email").value,
                    password: document.getElementById("password").value,

                }

                if (!data.fullName) return alert("required field fullname is Empty")
                if (!data.phone) return alert("required field phone is Empty")
                if (!data.email) return alert("required field email is Empty")
                if (!data.password) return alert("required field password is Empty")

                let options = {
                    method: "Post",
                    headers: {
                        "Content-type": "application/json",
                    },
                    body: JSON.stringify(data)
                }

                let res = await fetch("http://localhost:5010/user/newuser", options)
                // console.log(res);
                if (res.status === 200) {
                    res = await res.json()
                    // console.log(res);
                    getData()

                } else {
                    res = await res.json()
                    return alert(res.message)
                }

            } catch (error) {
                return alert(error.message)
            }

        }
        button.addEventListener("click", addData)

        //-----Remove Data----------------------------\\

        const removeData = async (e) => {
            try {
                const Confirm = window.confirm("Are you sure to delete this user")

                if (!Confirm) return

                let id = e.target.id.split("_")[1]
                // console.log(id);

                let options = {
                    method: "DELETE",
                }
                let url = `http://localhost:5010/user/user/${id}`
                let result = await fetch(url, options)
                if (result.status === 200) {
                    result = await result.json()
                    window.location.reload()
                } else {
                    result = await result.json()
                    return alert(result.message)
                }

            } catch (error) {
                return alert(error.message)
            }
        }




        // 2.Create tr and td then append (td) into tr

        function showData(data) {
            // console.log(data);

            let i = 0;
            // console.log(data[i].fullName);
            //  console.log(data[i]._id);
            let tbl = document.getElementById("tbl")

            while (i < data.length) {

                //---5------------------------------\\
                let tr = document.getElementById(data[i]._id)

                if (tr) {
                    tr.remove()
                }

                //---1------------------------------\\

                tr = document.createElement('tr')
                tr.id = data[i]._id
                let FullName = document.createElement('td')
                let Email = document.createElement('td')
                let Phone = document.createElement('td')
                let actions = document.createElement("td")

                //---5-------Remove-----------------------\\
                actions.style.display = "flex"
                actions.style.gap = "1rem"

                let remove = document.createElement("button")
                let update = document.createElement("button")

                remove.innerText = "Delete"
                remove.style.color = "white"
                remove.style.background = "red"
                remove.id = `rm_${data[i]._id}`
                actions.appendChild(remove)
                actions.appendChild(update)
                
                //---6-------Update-----------------------\\
                update.id = `up_${data[i]._id}`
                update.innerText = "Update"
                update.style.color = "white"
                update.style.background = "green"


                update.addEventListener("click", (e) => {
                    let id = e.target.id.split("_")[1]
                    window.location.href = `http://localhost:5010/view/Update.html?id=${id}`
                })
                // console.log(tr.id);

                //---3------------------------------\\
                FullName.innerText = data[i].fullName
                Email.innerText = data[i].email
                Phone.innerText = data[i].phone
                // let date = new Date(data[i].createdAt)


                remove.addEventListener("click", removeData)

                //---2------------------------------\\
                tr.appendChild(FullName)
                tr.appendChild(Email)
                tr.appendChild(Phone)
                // tr.appendChild(createdAt)
                tr.appendChild(actions)
                tbl.appendChild(tr)
                //---4------------------------------\\

                tr.className = "text-white fw-bold bg-dark col-12 colm-md-3"




                // console.log(tr);

                i++;
            }

        }

        // 1.Getdata

        const getData = async () => {
            try {
                const result = await fetch("http://localhost:5010/user/newuser")

                if (result.status === 200) {
                    result1 = await result.json()
                    showData(result1.user)
                }

                // console.log(result1);


            } catch (error) {
                alert(error.message);
            }

        }
        getData()

    </script>

</body>

</html>